/* color blocks */
@-webkit-keyframes inprogress {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes inprogress {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

Keyframes inprogress {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

img[src$="blue.png"],     img[src$="blue.gif"],     img[src$="blue_anime.gif"],
img[src$="yellow.png"],   img[src$="yellow.gif"],   img[src$="yellow_anime.gif"],
img[src$="red.png"],      img[src$="red.gif"],      img[src$="red_anime.gif"],
img[src$="grey.png"],     img[src$="grey.gif"],     img[src$="grey_anime.gif"],
img[src$="disabled.png"], img[src$="disabled.gif"], img[src$="disabled_anime.gif"],
img[src$="nobuilt.png"],  img[src$="nobuilt.gif"],  img[src$="nobuilt_anime.gif"],
img[src$="aborted.png"],  img[src$="aborted.gif"],  img[src$="aborted_anime.gif"] {
    content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 0;
    border-radius: 50%;
    background: rgba(0,0,0,0.1)
}

img[src*="blue.png"], img[src*="blue_anime.gif"] {
    background: #56a556 !important;
}

img[src*="yellow.png"], img[src*="yellow_anime.gif"] {
    background: #FFFB00 !important;
}

img[src*="red.png"], img[src*="red_anime.gif"] {
    background: #FF7373 !important;
}

img[src*="_anime.gif"] {
    -webkit-animation: inprogress 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: inprogress 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation: inprogress 2s;
    -o-animation-iteration-count: infinite;
}

img[src*="progress-unknown.gif"], img[src*="progress-unknown-red.gif"] {
    width: 42px;
    height: 10px;
}

.build-health-icon {
    padding: 0px;
}

#executors tr:not(:first-of-type) > th.pane {
    background: transparent !important;
}

/* We aren't using the .icon-sm, .icon-md, etc because it applies to non ball icons also */
/* width and height require !important b/c Jenkins puts those attributes in the HTML */
img[src$="images/16x16/blue.png"],     img[src$="images/16x16/blue.gif"],     img[src$="images/16x16/blue_anime.gif"],
img[src$="images/16x16/yellow.png"],   img[src$="images/16x16/yellow.gif"],   img[src$="images/16x16/yellow_anime.gif"],
img[src$="images/16x16/red.png"],      img[src$="images/16x16/red.gif"],      img[src$="images/16x16/red_anime.gif"],
img[src$="images/16x16/grey.png"],     img[src$="images/16x16/grey.gif"],     img[src$="images/16x16/grey_anime.gif"],
img[src$="images/16x16/disabled.png"], img[src$="images/16x16/disabled.gif"], img[src$="images/16x16/disabled_anime.gif"],
img[src$="images/16x16/nobuilt.png"],  img[src$="images/16x16/nobuilt.gif"],  img[src$="images/16x16/nobuilt_anime.gif"],
img[src$="images/16x16/aborted.png"],  img[src$="images/16x16/aborted.gif"],  img[src$="images/16x16/aborted_anime.gif"] {
    width: 0 !important;
    height: 12px !important;
    padding: 0 12px 0 0;
    margin: 2px;
}

img[src$="images/24x24/blue.png"],     img[src$="images/24x24/blue.gif"],     img[src$="images/24x24/blue_anime.gif"],
img[src$="images/24x24/yellow.png"],   img[src$="images/24x24/yellow.gif"],   img[src$="images/24x24/yellow_anime.gif"],
img[src$="images/24x24/red.png"],      img[src$="images/24x24/red.gif"],      img[src$="images/24x24/red_anime.gif"],
img[src$="images/24x24/grey.png"],     img[src$="images/24x24/grey.gif"],     img[src$="images/24x24/grey_anime.gif"],
img[src$="images/24x24/disabled.png"], img[src$="images/24x24/disabled.gif"], img[src$="images/24x24/disabled_anime.gif"],
img[src$="images/24x24/nobuilt.png"],  img[src$="images/24x24/nobuilt.gif"],  img[src$="images/24x24/nobuilt_anime.gif"],
img[src$="images/24x24/aborted.png"],  img[src$="images/24x24/aborted.gif"],  img[src$="images/24x24/aborted_anime.gif"] {
    width: 0 !important;
    height: 16px !important;
    padding: 0 16px 0 0;
    margin: 4px;
}

img[src$="images/32x32/blue.png"],     img[src$="images/32x32/blue.gif"],     img[src$="images/32x32/blue_anime.gif"],
img[src$="images/32x32/yellow.png"],   img[src$="images/32x32/yellow.gif"],   img[src$="images/32x32/yellow_anime.gif"],
img[src$="images/32x32/red.png"],      img[src$="images/32x32/red.gif"],      img[src$="images/32x32/red_anime.gif"],
img[src$="images/32x32/grey.png"],     img[src$="images/32x32/grey.gif"],     img[src$="images/32x32/grey_anime.gif"],
img[src$="images/32x32/disabled.png"], img[src$="images/32x32/disabled.gif"], img[src$="images/32x32/disabled_anime.gif"],
img[src$="images/32x32/nobuilt.png"],  img[src$="images/32x32/nobuilt.gif"],  img[src$="images/32x32/nobuilt_anime.gif"],
img[src$="images/32x32/aborted.png"],  img[src$="images/32x32/aborted.gif"],  img[src$="images/32x32/aborted_anime.gif"] {
    width: 0 !important;
    height: 24px !important;
    padding: 0 24px 0 0;
    margin: 4px;
}

img[src$="images/48x48/blue.png"],     img[src$="images/48x48/blue.gif"],     img[src$="images/48x48/blue_anime.gif"],
img[src$="images/48x48/yellow.png"],   img[src$="images/48x48/yellow.gif"],   img[src$="images/48x48/yellow_anime.gif"],
img[src$="images/48x48/red.png"],      img[src$="images/48x48/red.gif"],      img[src$="images/48x48/red_anime.gif"],
img[src$="images/48x48/grey.png"],     img[src$="images/48x48/grey.gif"],     img[src$="images/48x48/grey_anime.gif"],
img[src$="images/48x48/disabled.png"], img[src$="images/48x48/disabled.gif"], img[src$="images/48x48/disabled_anime.gif"],
img[src$="images/48x48/nobuilt.png"],  img[src$="images/48x48/nobuilt.gif"],  img[src$="images/48x48/nobuilt_anime.gif"],
img[src$="images/48x48/aborted.png"],  img[src$="images/48x48/aborted.gif"],  img[src$="images/48x48/aborted_anime.gif"] {
    width: 0 !important;
    height: 32px !important;
    padding: 0 32px 0 0;
    margin: 8px;
}
