h2 {
	font-size: 24px;
	font-weight: normal;
	line-height: 1.25;
}

input[name='j_username'], input[name='j_password'] {
    -moz-box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 3.01px 3.01px 3.01px 3.01px;
    box-shadow: 0 1px 3px #CCCCCC inset;
    color: #333333;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    vertical-align: baseline;
    width: 100%;
    height: 2.5em;
    line-height: 1.42857;
    padding: 4px 5px;
}

.input-label {
	padding: 10px 0 0 0;
	position: relative;
	text-align: right;
	font-size: 14px;
	color: #707070;
}

.login-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 536px;
	padding-top: 0px;
	padding-bottom: 55px;
	padding-right: 40px;
	padding-left: 40px;
	border: solid #ccc;
	border-width: 1px;
	border-radius: 4px;
	height: 250px;
	background-color: #fff;
}

.login-outer {
	display: block;
	padding-top: 40px;
}

.login-container {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.signup-container {
	padding-top: 10px;
}

.login-button {
	background: #f2f2f2!important;
	background: -webkit-linear-gradient(top,#fff 0,#f2f2f2 100%)!important;
	background: -moz-linear-gradient(top,#fff 0,#f2f2f2 100%)!important;
	background: -ms-linear-gradient(top,#fff 0,#f2f2f2 100%)!important;
	background: -o-linear-gradient(top,#fff 0,#f2f2f2 100%)!important;
	background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%)!important;
	border: 1px solid #ccc!important;
	border-radius: 3.01px!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
	color: #333!important;
	cursor: pointer!important;
	display: inline-block!important;
	font-family: inherit!important;
	font-size: 14px!important;
	font-variant: normal!important;
	font-weight: normal!important;
	height: 2.1428571428571em!important;
	line-height: 1.4285714285714!important;
	margin: 0!important;
	padding: 4px 10px!important;
	text-decoration: none!important;
	text-shadow: 0 1px 0 white!important;
	vertical-align: baseline!important;
	white-space: nowrap!important;
}

.button-wrapper, .signup-container {
	padding-left: 70px;
}

#main-panel {
	background: #f5f5f5;
}

/*
.col-sm-15, .col-md-17, .col-lg-18, .col-xlg-20 {
	width: 100%;
} */

